@import './mixins';

.search{
  width: 27rem;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include mobile{
    width: fit-content;
    gap: 10px;
  }


  &__input{
    display: flex;
    gap: 10px;
    @include mobile{
      gap: 0;
    }
  }
  input{
    background-color: rgba(74, 74, 93, 0.57);
    width: 20rem;

    
    height: 43px;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 0 white;
    padding: 0;
    padding-left: 15px;
    
    margin: 0;
    color: white;
    border-radius: 20px;
  
    transition: all .2s ease-in;
    @include tablet{
      height: 60px;
    }
    @include mobile{
      margin: 0;
      width: fit-content;
      font-size: 15px;
      padding-left: 10px;
      
      border-radius: 0;
    }


    &:focus{
      border: 2px solid rgb(138, 255, 138);
      box-shadow: 0 0 10px 0 rgb(138, 255, 138);
    }
    &::placeholder{
      color: white;
    }
    
  }
  button{
    width: 100px;
    height: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: rgba(74, 74, 93, 0.57);
    box-shadow: 0 0 5px 0 white;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    border-radius: 20px;
  
    transition: all .3s ease-in;
    @include tablet{
      height: 64px;
      width: 100px;
    }
    @include mobile{
      border-radius: 0px;
      width: 3rem;
      font-size: 12px;
      height: 64px;
    }

    &:hover{
      transform: translateY(-3px);
      @include mobile{
        transform: translateY(0);
      }
      @include tablet{
        transform: translateY(0);
      }
    }
  }

}

.dropdown-menu{
  margin-top: 5px;
  width: 20.9rem;
  min-height: 44px;
  border: 2px solid rgb(138, 255, 138);
  box-shadow: 0 0 10px 0 rgb(138, 255, 138);
  
  border-radius: 20px;

  @include mobile{
    width: 13rem;
  }
  ul{
    display: flex;
    flex-direction: column;
    padding: 5px;
    li{
      width: fit-content;
      margin: 7px;
      cursor: pointer;
      color: white;
    }
  }
}
