@import './components/styles/currentWeather.scss';
@import './components/styles/forecast.scss';
@import './components/styles/header.scss';
@import './components/styles/spinner.scss';
@import './components/styles/search.scss';

@import './components/styles/mixins';

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content{
  width: 100%;
  @include flexCenter(column);
  gap: 50px;
}




/* .error{
  border: 2px solid red;
  box-shadow: 0 0 10px 0 red;
}
 */

.loading{
  background-color: rgb(255, 248, 171);
}


.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}